@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  @apply bg-black text-white;
}

html,
body {
  @apply h-full;
}

/* Chrome, Safari, Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* IE, Edge, Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
